# Ignore .env file
.env

# Ignore Python bytecode
__pycache__/

# Ignore other system files
*.pyc
*.pyo

# Ignore IDE or editor specific files
.vscode/
.idea/
*.swp

# Ignore the virtual environment directory
venv/