<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WTForms Example</title>
  </head>
  <body>
    <h1>Welcome to the WTForms Example!</h1>
    <form method="POST">
      {{ form.hidden_tag() }}
      <!-- For CSRF token -->
      <div>
        {{ form.name.label }} {{ form.name() }} {{ form.email.label }}
        {{form.email()}}
        <!-- Render the form field -->
        {% if form.name.errors %}
        <ul>
          {% for error in form.name.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <div>
        {{ form.submit() }}
        <!-- Render the submit button -->
      </div>
    </form>
  </body>
</html>
